body {
	font-family: Arial, Helvetica, sans-serif;
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
	box-shadow: 4px 4px 4px;
}
.auto-style2 {
	vertical-align: top;
}
body{
    background-position:center;
    background-color:aqua;
}
.auto-style3 {
	font-size: xx-large;
}
.auto-style4 {
	font-size: large;
}
.auto-style5 {
	font-size: small;
}